services:
    - PhpParser\NodeFinder

    - Symplify\PHPStanRules\NodeTraverser\SimpleCallableNodeTraverser
    - Symplify\PHPStanRules\PhpDocParser\PhpDocNodeTraverser
    - Symplify\PHPStanRules\Reflection\ReflectionParser
    - Symplify\PHPStanRules\Matcher\ArrayStringAndFnMatcher
    - Symplify\PHPStanRules\NodeFinder\TypeAwareNodeFinder
    - Symplify\PHPStanRules\PhpDoc\SeePhpDocTagNodesFinder
    - Symplify\PHPStanRules\Composer\ClassNamespaceMatcher
    - Symplify\PHPStanRules\Composer\ComposerAutoloadResolver
    - Symplify\PHPStanRules\Composer\Psr4PathValidator
    - Symplify\PHPStanRules\Formatter\RequiredWithMessageFormatter
    - Symplify\PHPStanRules\Location\DirectoryChecker
    - Symplify\PHPStanRules\Naming\ClassToSuffixResolver
    - Symplify\PHPStanRules\NodeAnalyzer\AttributeFinder
    - Symplify\PHPStanRules\NodeAnalyzer\EnumAnalyzer
    - Symplify\PHPStanRules\NodeAnalyzer\RegexFuncCallAnalyzer
    - Symplify\PHPStanRules\NodeAnalyzer\RegexStaticCallAnalyzer
    - Symplify\PHPStanRules\NodeFinder\ClassMethodNodeFinder
    - Symplify\PHPStanRules\NodeFinder\MethodCallNodeFinder
    - Symplify\PHPStanRules\NodeFinder\ReturnNodeFinder
    - Symplify\PHPStanRules\ParentClassMethodNodeResolver
    - Symplify\PHPStanRules\PhpDoc\ApiDocStmtAnalyzer
    - Symplify\PHPStanRules\PhpDoc\BarePhpDocParser
    - Symplify\PHPStanRules\PhpDoc\PhpDocResolver
    - Symplify\PHPStanRules\Printer\NodeComparator
    - Symplify\PHPStanRules\Reflection\MethodNodeAnalyser
    - Symplify\PHPStanRules\TypeAnalyzer\CallableTypeAnalyzer
    - Symplify\PHPStanRules\Matcher\Collector\PublicClassMethodMatcher
    - Symplify\PHPStanRules\Matcher\ClassMethodCallReferenceResolver
    - Symplify\PHPStanRules\Printer\CollectorMetadataPrinter
