<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" cacheDirectory=".phpunit.cache">
    <testsuite name="all">
        <directory>tests</directory>
        <directory>packages-tests</directory>
        <exclude>tests/Rules/NoConstructorInTestRule/Fixture</exclude>
        <exclude>tests/Rules/ClassNameRespectsParentSuffixRule/Fixture/</exclude>
        <exclude>tests/Rules/CheckNotTestsNamespaceOutsideTestsDirectoryRule/Fixture</exclude>
    </testsuite>
</phpunit>
