rules:
    - Symplify\PHPStanRules\Rules\Explicit\NoMixedPropertyFetcherRule
    - Symplify\PHPStanRules\Rules\Explicit\NoMixedMethodCallerRule
    - Symplify\PHPStanRules\Rules\Enum\RequireEnumDocBlockOnConstantListPassRule
    - Symplify\PHPStanRules\Rules\NoDynamicNameRule
    - Symplify\PHPStanRules\Rules\Explicit\NoRelativeFilePathRule
    - Symplify\PHPStanRules\Rules\NoReturnArrayVariableListRule
