# these rule focus on the whole-project analysis, see https://phpstan.org/developing-extensions/collectors
rules:
    - Symplify\PHPStanRules\Rules\NarrowType\NarrowPublicClassMethodParamTypeByCallerTypeRule

services:
    # for NarrowPublicClassMethodParamTypeByCallerTypeRule
    -
        class: Symplify\PHPStanRules\Collector\ClassMethod\PublicClassMethodParamTypesCollector
        tags: [phpstan.collector]

    -
        class: Symplify\PHPStanRules\Collector\MethodCall\MethodCallArgTypesCollector
        tags: [phpstan.collector]

    -
        class: Symplify\PHPStanRules\Collector\MethodCallableNode\MethodCallableCollector
        tags:
            - phpstan.collector
