rules:
    - Symplify\PHPStanRules\PHPStan\Rules\Doctrine\NoGetRepositoryOutsideServiceRule
    - Symplify\PHPStanRules\PHPStan\Rules\Doctrine\NoParentRepositoryRule
    - Symplify\PHPStanRules\PHPStan\Rules\Doctrine\NoRepositoryCallInDataFixtureRule
