# return type extensions are disabled by default; enable in your phpstan.neon with:
#
# parameters:
#     symfonyReturnType: true
#     laravelReturnType: true
#     pathStrings: true

parameters:
    symfonyReturnType: false
    laravelReturnType: false
    pathStrings: false

parametersSchema:
    symfonyReturnType: bool()
    laravelReturnType: bool()
    pathStrings: bool()

conditionalTags:
    # Symfony Container::get($1) => $1 type
    Symplify\PHPStanRules\ReturnTypeExtension\Symfony\ContainerGetReturnTypeExtension:
        phpstan.broker.dynamicMethodReturnTypeExtension: %symfonyReturnType%
    # Symfony Finder SplFileInfo::getRealPath() => string type
    Symplify\PHPStanRules\ReturnTypeExtension\Symfony\SplFileInfoTolerantReturnTypeExtension:
        phpstan.broker.dynamicMethodReturnTypeExtension: %symfonyReturnType%
    # Laravel Container::make($1) => $1 type
    Symplify\PHPStanRules\ReturnTypeExtension\Laravel\LaravelContainerMakeTypeExtension:
        phpstan.broker.dynamicMethodReturnTypeExtension: %laravelReturnType%
    # getcwd()/dirname()/realpath() => always "string"
    Symplify\PHPStanRules\ReturnTypeExtension\NativeFunctionReturnTypeExtension:
        phpstan.broker.dynamicFunctionReturnTypeExtension: %pathStrings%

services:
    # use with "errorFormat: symplify" in CLI/config
    errorFormatter.symplify:
        class: Symplify\PHPStanRules\ErrorFormatter\SymplifyErrorFormatter

    - Symplify\PHPStanRules\ReturnTypeExtension\Symfony\ContainerGetReturnTypeExtension
    - Symplify\PHPStanRules\ReturnTypeExtension\Symfony\SplFileInfoTolerantReturnTypeExtension
    - Symplify\PHPStanRules\ReturnTypeExtension\Laravel\LaravelContainerMakeTypeExtension
    - Symplify\PHPStanRules\ReturnTypeExtension\NativeFunctionReturnTypeExtension
