rules:
    - Symplify\PHPStanRules\Rules\PHPUnit\PublicStaticDataProviderRule
    - Symplify\PHPStanRules\Rules\PHPUnit\NoAssertFuncCallInTestsRule

# mocking rules moved to mock-rules.neon, enable them with:
#
# parameters:
#     mocks: true
