services:
    # $nodeFinder->findInstanceOf()
    # $nodeFinder->findFirstInstanceOf()
    -
        class: Rector\PHPStanRules\ReturnTypeExtension\FindInstanceOfReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    # $node->getAttribute($1) => Type|null by $1
    -
        class: Rector\PHPStanRules\ReturnTypeExtension\GetAttributeReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
