conditionalTags:
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\ServicesExcludedDirectoryMustExistRule:
        phpstan.rules.rule: %symplify.symfonyConfig%
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoBundleResourceConfigRule:
        phpstan.rules.rule: %symplify.symfonyConfig%
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\AlreadyRegisteredAutodiscoveryServiceRule:
        phpstan.rules.rule: %symplify.symfonyConfig%
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\TaggedIteratorOverRepeatedServiceCallRule:
        phpstan.rules.rule: %symplify.symfonyConfig%

    # sync file name and extension name
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\FileNameMatchesExtensionRule:
        phpstan.rules.rule: %symplify.symfonyConfig%

    # no autowire duplicate
    Symplify\PHPStanRules\Rules\Symfony\NoServiceAutowireDuplicateRule:
        phpstan.rules.rule: %symplify.symfonyConfig%

    # args() and arg() call
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoDuplicateArgsAutowireByTypeRule:
        phpstan.rules.rule: %symplify.symfonyConfig%
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoDuplicateArgAutowireByTypeRule:
        phpstan.rules.rule: %symplify.symfonyConfig%

    # $services->set('X', 'X')
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoServiceSameNameSetClassRule:
        phpstan.rules.rule: %symplify.symfonyConfig%

    # $services->set('X')->class('X')
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoSetClassServiceDuplicationRule:
        phpstan.rules.rule: %symplify.symfonyConfig%

    # service('id') where an alias points 'id' at a class
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\PreferClassServiceReferenceRule:
        phpstan.rules.rule: %symplify.symfonyConfig%

    # redundant ->tag() that autoconfigure() already adds
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoAutoconfiguredServiceTagRule:
        phpstan.rules.rule: %symplify.symfonyConfig%

    # ->call('setX', [service()]) that should be a #[Required] setter
    Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoServiceSetterCallRule:
        phpstan.rules.rule: %symplify.symfonyConfig%









services:
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\ServicesExcludedDirectoryMustExistRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoBundleResourceConfigRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\AlreadyRegisteredAutodiscoveryServiceRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\TaggedIteratorOverRepeatedServiceCallRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\FileNameMatchesExtensionRule
    - Symplify\PHPStanRules\Rules\Symfony\NoServiceAutowireDuplicateRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoDuplicateArgsAutowireByTypeRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoDuplicateArgAutowireByTypeRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoServiceSameNameSetClassRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoSetClassServiceDuplicationRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\PreferClassServiceReferenceRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoAutoconfiguredServiceTagRule
    - Symplify\PHPStanRules\Rules\Symfony\ConfigClosure\NoServiceSetterCallRule
