includes:
    - ../../../config/included_services.neon

rules:
    - Symplify\PHPStanRules\Rules\NoReferenceRule

services:
    -
        class: Symplify\PHPStanRules\Tests\Rules\NoReferenceRule\Source\MagicFinderMethodsExtension
        tags: [phpstan.broker.methodsClassReflectionExtension]
