services:
    # $splFileInfo->getRealPath() => string type
    -
        class: Symplify\PHPStanRules\ReturnTypeExtension\Symfony\SplFileInfoTolerantReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
